.navbar {
    display: inline-block;
    position: sticky;
    top: 0;
    background-color: midnightblue;
    height: 50px;
    width: 100%;
    overflow: hidden;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    font-size: 17px;
    float: right;
}

.navbar li a:hover {
    background-color: midnightblue;
    color: gold;
}

.navbar li a:active {
    background-color: darkslateblue;
    color: white;
}

.icon {
    float: left;
    height: 40px;
    width: 40px;
}